<div align="center" style="margin:5 5 5 5;">
    <link rel="stylesheet" type="text/css" href="lib/bootstrap/css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="lib/font-awesome/css/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" href="lib/bootstrap/css/AdminLTE.css" />
    
    <script type="text/javascript" src="js/2.0.2/jquery.min.js"></script>
    <script type="text/javascript" src="lib/bootstrap/js/bootstrap.js"></script>
    <script type="text/javascript" src="lib/dist/js/bootstrap-select.js"></script>
    <script src="lib/build/jquery.bootgrid.js"></script>
    <script src="lib/build/growl_messenger/js/messenger.min.js"></script>
    <script src="lib/build/growl_messenger/js/messenger-theme-future.js"></script>
    <style>
        .small-box {
            border-radius: 2px;
            display: block;
            margin-bottom: 15px;
            position: relative;
        }
        .bg-aqua {
            background-color: #00c0ef !important;
        }
    </style>	
    
    
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-sm-3 col-md-3 col-xs-11" style = "padding: 0px;">
                <!-- small box -->
                <div class="small-box bg-aqua" style="width:500;">
                    <div class="inner">
                        <div>
                            <img src="images/happy.gif" style="height: 90px;"/>
                        </div>
                        <p>
                            Input Data Pembayaran
                        </p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-bag"></i>
                    </div>
                    <div id='coba-klik-disini' onclick="getModuleExt('t_vat_settlement');" class="small-box-footer"style="font-size: 17px;cursor:pointer;">
                        Klik Disini <i class="fa fa-arrow-circle-right"></i>
                    </div>
                </div>
            </div><!-- ./col -->
        </div>
    </div> 
</div>