<div align="center" style="margin:5 5 5 5;">
    <link rel="stylesheet" type="text/css" href="lib/bootstrap/css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="lib/font-awesome/css/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" href="lib/bootstrap/css/AdminLTE.css" />
    
    <script type="text/javascript" src="js/2.0.2/jquery.min.js"></script>
    <script type="text/javascript" src="lib/bootstrap/js/bootstrap.js"></script>
    <script type="text/javascript" src="lib/dist/js/bootstrap-select.js"></script>
    <script src="lib/build/jquery.bootgrid.js"></script>
    <script src="lib/build/growl_messenger/js/messenger.min.js"></script>
    <script src="lib/build/growl_messenger/js/messenger-theme-future.js"></script>
    <style>
        .small-box {
            border-radius: 2px;
            display: block;
            margin-bottom: 15px;
            position: relative;
        }
        .bg-aqua {
            background-color: #00c0ef !important;
        }
    </style>	
    
    
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-sm-3 col-md-3 col-xs-11 col-lg-offset-2 col-sm-offset-2 col-md-offset-2">
                <!-- small box -->
                <div class="small-box bg-aqua">
                    <div class="inner">
                        <div>
                            <img src="images/happy.gif" style="height: 90px;"/>
                        </div>
                        <p>
                            Input Data Pembayaran
                        </p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-bag"></i>
                    </div>
                    <div id='coba-klik-disini' onclick="getModuleExt('t_vat_settlement');" class="small-box-footer"style="font-size: 17px;cursor:pointer;">
                        Klik Disini <i class="fa fa-arrow-circle-right"></i>
                    </div>
                </div>
            </div><!-- ./col -->
            <div class="col-lg-1 col-sm-1 col-md-1 col-xs-11">
                <div class="normal-arrow normal-arrow-hide">
                    <img src="images/arrow_orange_right_T.png" style="height: 90px;"/>
                </div>
                <div class="down-arrow down-arrow-hide">
                    <img src="images/arrow_orange_down_T.png" style="height: 90px;margin-top: 10px;margin-bottom: 20px;"/>
                </div>
            </div>
            <div class="col-lg-3 col-sm-3 col-md-3 col-xs-11">
                <!-- small box -->
                <div class="small-box bg-red">
                    <div class="inner">
                        <div >
                            <img src="images/20140111074557_64970.png" style="height: 90px;"/>
                        </div>
                        <p>
                            Bayarkan Pajak di Bank
                        </p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-stats-bars"></i>
                    </div>
                    <div id='coba-klik-disini' onclick="getModuleExt('transaction_info');" class="small-box-footer"style="font-size: 17px;cursor:pointer;">
                        Info Detail <i class="fa fa-arrow-circle-right"></i>
                    </div>
                </div>
            </div><!-- ./col -->
        </div>
        <div class="row">
            <div class="down-arrow-box col-lg-3 col-sm-3 col-md-3 col-xs-11 col-lg-offset-6 col-sm-offset-6 col-md-offset-6">
                <div class="small-box">
                    <div class="inner">
                        <img src="images/arrow_orange_down_T.png" style="height: 90px;"/>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-sm-3 col-md-3 col-xs-11 col-lg-offset-2 col-sm-offset-2 col-md-offset-2">
                <!-- small box -->
                <div class="small-box bg-green">
                    <div class="inner">
                        <div >
                            <img src="images/send_mail.png" style="height: 90px;"/>
                        </div>
                        <p>
                            Kirim Laporan Pajak
                        </p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-bag"></i>
                    </div>
                    <div id='coba-klik-disini' onclick="getModuleExt('t_vat_settlement');" class="small-box-footer"style="font-size: 17px;cursor:pointer;">
                        Klik Disini <i class="fa fa-arrow-circle-right"></i>
                    </div>
                </div>
            </div><!-- ./col -->
            <div class="col-lg-1 col-sm-1 col-md-1 col-xs-11">
                <div class="normal-arrow normal-arrow-hide">
                    <img src="images/arrow_orange_left_T.png" style="height: 90px;"/>
                </div>
                <div class="down-arrow down-arrow-hide">
                    <img src="images/arrow_orange_down_T.png" style="height: 90px;margin-top: 10px;margin-bottom: 20px;"/>
                </div>
            </div>
            <div class="col-lg-3 col-sm-3 col-md-3 col-xs-11">
                <!-- small box -->
                <div class="small-box bg-yellow">
                    <div class="inner">
                        <div>
                            <img src="images/Notepad_icon.svg.png" style="height: 90px;"/>
                        </div>
                        <p>
                            Input Transaksi Harian
                        </p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-stats-bars"></i>
                    </div>
                    <div id='coba-klik-disini' onclick="getModuleExt('cust_acc_trans');" class="small-box-footer"style="font-size: 17px;cursor:pointer;">
                        Klik Disini <i class="fa fa-arrow-circle-right"></i>
                    </div>
                </div>
            </div><!-- ./col -->
        </div>
    </div> 
</div>