
    <link rel="stylesheet" type="text/css" href="lib/bootstrap/css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="lib/bootstrap/css/AdminLTE.css" />
    
    <link href="lib/slider/css/demo.css" media="screen, projection" rel="stylesheet" type="text/css">
    <link href="lib/slider/css/component.css" media="screen, projection" rel="stylesheet" type="text/css">

    <style>
        .small-box {
            border-radius: 2px;
            margin-bottom: 15px;
            position: relative;
            width:500px;
        }
        .bg-aqua {
            background-color: #00c0ef !important;
        }
        
    </style>	
    
<div align="center" style="margin:5 5 5 5;">    
    <div class="small-box bg-aqua">
        <div class="inner">
            <div>
                <img src="images/happy.gif" style="height: 90px;"/>
            </div>
            <p>
                Input Data Pembayaran
            </p>
        </div>
        <div class="icon">
            <i class="ion ion-bag"></i>
        </div>
        <div id='coba-klik-disini' onclick="getModuleExt('t_vat_settlement');" class="small-box-footer"style="font-size: 17px;cursor:pointer;">
            Klik Disini <i class="fa fa-arrow-circle-right"></i>
        </div>
    </div>  
    
    
    <div class="image-slider">
        <article id="cc-slider">
            <input checked="checked" name="cc-slider" id="slide1" type="radio">
            <input name="cc-slider" id="slide2" type="radio">
            <input name="cc-slider" id="slide3" type="radio">
            <div id="cc-slides">
            <div id="overflow">
                <div class="inner">
                    <article>
                      <div class="cctooltip">
                       <!-- <h3>Amazing / Photoshop / Photography</h3> -->
                       <!-- <h4>By <a href="#">codeconvey</a></h4> -->
                      </div>
                      <img src="lib/slider/images/e-satria.png"> 
                    </article>
                    <article>
                      <div class="cctooltip">
                       <!-- <h3>Dodol</h3> -->
                      </div>
                      <img src="lib/slider/images/penggunaan1.jpg"> 
                    </article>
                    <article>
                      <div class="cctooltip">
                        <!--<h3>Street Photography</h3> -->
                        <h5>Dinas Pelayanan Pajak Kota Bandung</h5>
                      </div>
                      <img src="lib/slider/images/penggunaan2.jpg"> 
                    </article>
                </div>
            </div>
          </div>
          <div id="controls">
            <label for="slide1"></label>
            <label for="slide2"></label>
            <label for="slide3"></label>
          </div>
        </article>
    </div>        
</div>